<span>

  <select *ngIf="loginExperiences.length > 1" [formControl]="selectedLoginExperience">

    <option *ngFor="let le of loginExperiences">
      {{ loginExperienceLabel(le) }}
    </option>

  </select>

  <button (click)="login()"  [disabled]="!isLoginEnabled">
    Login
  </button>

</span>


<div class="modal-overlay"
  *ngIf="isLoginModalDisplayed && !isAuthenticated"
  (click)="isLoginModalDisplayed = false"
>

  <div class="modal">

    <iframe
      [src]="iframeSrc"
      frameborder="0"
      (load)="onIframeLoad($event)"
    ></iframe>

    <button class="close-button" (click)="isLoginModalDisplayed = false">
      Discard
    </button>

  </div>

</div>
